.profile{
    text-align: center;
    margin-bottom: 1em;
}

.table{
    max-width: 1000px;
    margin: auto;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #cfcfcf;
    color: #161616;
    justify-content: space-between;
    padding: 0 .4em;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 .4em;
}

.row:nth-of-type(2n){
    background-color: #a8a8a8;
}

.rowCat, .rowTitle{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

#eventName{
    display: flex;
    justify-content: start;
}

#rankingAverage, #avgT{
    display: flex;
    justify-content: end;
}

.icon{
    width: 1.4em;
}

#eventName{
    width: 200px;
}

#wcaProfile{
    text-decoration: none;
    color: white;
    transition-duration: .3s;
}

#wcaProfile:hover{
    color: #c9c9c9;
    cursor: pointer;
}